<button class="btn btn-success" ui-sref="home">Home</button>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Título da Novel</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="novel in vm.novels track by $index">
            <td>{{novel.name}}</td>
            <td>{{novel.description}}</td>
            <td>
              <button ng-click="vm.editNovel(novel)">Editar</button>
              <button ng-click="vm.addChapter(novel)">Add Capítulo</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success" ui-sref="novel-new"> Create Novel</button>
