<button class="btn btn-success" ui-sref="home">Home</button>
<button class="btn btn-success" ui-sref="novel">Lista de Novels</button>
<br /><br /><br />
<h3>Novel: {{vm.novel.name}}</h3>
<div class="row">
  <div class="col-md-12">
    <form class="form form-horizontal" name="form" novalidate>

      <div class="form-group">
        <label>Número do Capitulo</label><br/>
        <input class="form-control" ng-model="vm.chapter.number"
        type="text" name="nome" placeholder="Insira o Numero" required>
      </div>

      <div class="form-group">
        <label>Título</label><br/>
        <input class="form-control" ng-model="vm.chapter.title"
        type="text" name="nome" placeholder="Insira o Título" required>
      </div>

      <div class="form-group">
        <label>Conteúdo do Capítulo</label><br/>
        <textarea class="form-control"
                  name="conteudo" rows="6"
                  ng-model="vm.chapter.content"
                  placeholder="Insira o capítulo" required>
        </textarea>
      </div>

      <div class="form-group">
        <label>Tradutores</label><br/>
        <input class="form-control" ng-model="vm.chapter.translators"
        type="text" name="nome" placeholder="Insira os Tradutores" required>
      </div>

      <div class="form-group">
        <label>Revisores</label><br/>
        <input class="form-control" ng-model="vm.chapter.revisors"
        type="text" name="nome" placeholder="Insira o Nome" required>
      </div>


      <button ng-if="vm.novo" class="btn btn-primary" type="submit" ng-click="vm.createChapter(vm.chapter)">Enviar</button><br />
      <button ng-if="!vm.novo" class="btn btn-primary" type="submit" ng-click="vm.editChapter(vm.chapter)">Atualizar</button><br />
    </form>
  </div>
</div>
