<button class="btn btn-success" ui-sref="home">Home</button>
<button class="btn btn-success" ui-sref="novel">Lista de Novels</button>

<h3>Novel: {{vm.novel.name}}</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Capítulo</th>
            <th>Título</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="chapter in vm.chapters track by $index">
            <td>{{chapter.number}}</td>
            <td>{{chapter.title}}</td>
            <td>
              <button ng-click="vm.goChapter(chapter)">Editar</button>
              <button ng-click="vm.deleteChapter(chapter._id)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success" ui-sref="chapter-new"> Create Capítulo</button>
