

<h3>Novel: {{vm.novel.name}}</h3>
<button class="btn btn-primary" ui-sref="novel">Lista de Novels</button>
<button class="btn btn-success" ui-sref="chapter-new"> Adicionar Capítulo</button>
<div style="margin-bottom: 20px"></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Capítulo</th>
            <th>Título</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="chapter in vm.chapters track by $index">
            <td>{{chapter.number}}</td>
            <td>{{chapter.title}}</td>
            <td>
              <button class="btn btn-warning btn-sm" ng-click="vm.goChapter(chapter)">Editar</button>
              <button class="btn btn-danger btn-sm" ng-click="vm.deleteChapter(chapter._id)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>


