<h1>Dashboard</h1>

<button ui-sref="dashboard">Dashboard</button>
<button ui-sref="home">Home</button>
<button ui-sref="novel">Novel</button>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Approved</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.users track by $index">
          <th scope="row">{{$index}}</th>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <td>{{user.approved}}</td>
            <td>
              <button ng-click="vm.changeUserApprove(user)">Aprovar</button>
            </td>
        </tr>
    </tbody>
</table>